<infobox {{#theme}}theme={{theme}}{{/theme}} {{#themeVarName}}theme-source={{themeVarName}}{{/themeVarName}} {{#layout}}layout={{layout}}{{/layout}}>
	{{#items}}
		{{#g}}
		<{{type}} source="{{boundVariableName}}">
			{{#label}}<label>{{label}}</label>{{/label}}
			{{#defaultValue}}<default>{{defaultValue}}</default>{{/defaultValue}}
		</{{type}}>
	{{/items}}
</infobox>
