<infobox>
	{{#items}}
		<{{type}} source="{{boundVariableName}}">
			{{#label}}<label>{{label}}</label>{{/label}}
			{{#defaultValue}}<default>{{defaultValue}}</default>{{/defaultValue}}
		</{{type}}>
	{{/items}}
</infobox>
